* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #f0f0f0;
  scroll-behavior: smooth;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #3882f6;
}

/* HEADER */

.header {
  margin: 0 auto;
  padding: 20px;
  background-color: #1f2937;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto 60px;
  width: 100%;
}

.header-logo {
  font-weight: 600;
  font-size: 32px;
  color: #f9faf8;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  gap: 0 16px;
}

.nav-list {
  list-style: none;
}

.nav-link {
  color: #f9faf8;
  text-decoration: none;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 900px;
  margin: 0 auto 60px;
  width: 100%;
  gap: 0 24px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.hero-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-paragraph {
  font-size: 18px;
  color: #e5e7eb;
  line-height: 1.6;
}

.btn {
  padding: 12px 24px;
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  color: #e5e7eb;
  background-color: #3882f6;
}

.hero-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  gap: 10px;
}

.main-content {
  margin: 0 auto;
  padding: 20px 0;
}

.subtitle {
  margin-bottom: 30px;
  font-size: 24px;
  color: #1f2937;
  text-align: center;
}

.home {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  text-align: center;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  border: #3882f6 solid 1.5px;
}
.card h4 {
  color: #1f2937;
}

.card p {
  padding: 4px;
  font-size: 14px;
  color: #1f2937;
  background-color: #e5e7eb;
}

.about {
  margin: 0 auto;
  padding: 20px;
  background-color: #e5e7eb;
}

.about div {
  margin: 0 auto;
  max-width: 900px;
}

.about div p {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
  line-height: 1.4;
}

.about div span {
  display: block;
  font-size: 24px;
  color: #1f2937;
  text-align: right;
  width: 100%;
}

.contact {
  padding: 30px 20px;
}

.contact h3 {
  margin-bottom: 20px;
  color: #3882f6;
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 900px;
  padding: 20px;
  background-color: #3882f6;
  border-radius: 8px;
  gap: 0 20px;
}

.contact-info p {
  color: #e5e7eb;
  line-height: 1.5;
}

.btn-cta {
  border: #e5e7eb solid 1.5px;
}

.footer {
  padding: 40px;
  background-color: #1f2937;
  text-align: center;
  color: #e5e7eb;
}
